<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webpix_optimizer>
            <general>
                <enabled>0</enabled>
                <cdn_mode>0</cdn_mode>
                <custom_hostname></custom_hostname>
            </general>
            <image>
                <secure>1</secure>
                <quality>75</quality>
                <product_quality>70</product_quality>
                <format>webp</format>
                <resize_mode>default</resize_mode>
                <product>1</product>
                <auto_dimensions>1</auto_dimensions>
                <responsive_gallery>1</responsive_gallery>
                <listing_lcp>1</listing_lcp>
                <cms>1</cms>
                <svg>1</svg>
            </image>
            <css>
                <enabled>0</enabled>
                <secure>1</secure>
                <mode>proxy</mode>
            </css>
            <js>
                <enabled>0</enabled>
                <secure>1</secure>
            </js>
            <fonts>
                <enabled>1</enabled>
                <display>swap</display>
                <force_display>1</force_display>
            </fonts>
        </webpix_optimizer>
    </default>
</config>
