.webpix-optimizer-tab strong:before {
  content: "";
  background-image: url("Webpix_Optimizer::images/favicon.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  position: relative;
  padding-right: 40px;
  filter: invert(50%) sepia(80%) saturate(2476%) hue-rotate(337deg) brightness(118%) contrast(119%);
}


